 :root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  /* line-height: 1.5; */
  font-weight: 400;

  color-scheme: light dark;
  color: rgb(255, 255, 255);
  background-color: #e47fce;
}
.container{
  padding: 42px;
  display: flex;
  margin: 0px;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
button{
  height: 30px;
  width: auto;
}